vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Nov 2006 19:07:18 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|index2.html t.html MyFriends.html MyHobbies.html EddyArt.html MyFamily.html index.html
vti_author:SR|TOSHIBA-USER\\Zerocool
vti_modifiedby:SR|TOSHIBA-USER\\Zerocool
vti_timecreated:TR|11 Nov 2006 19:07:18 -0000
vti_cacheddtm:TX|11 Nov 2006 19:07:18 -0000
vti_filesize:IR|4351
vti_cachedlinkinfo:VX|S|../images/body.jpg S|../images/wrapper2.jpg S|../images/nav_a_hover.jpg S|../images/h1.gif S|images/description.jpg S|../images/sidebar.jpg S|../images/content.jpg S|../images/h2.jpg
vti_cachedsvcrellinks:VX|FSUS|images/body.jpg FSUS|images/wrapper2.jpg FSUS|images/nav_a_hover.jpg FSUS|images/h1.gif FSUS|images/description.jpg FSUS|images/sidebar.jpg FSUS|images/content.jpg FSUS|images/h2.jpg
vti_lineageid:SR|{138BB851-C466-46A9-8ACB-9383961EAFE3}
