.tabletext {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #0099CC;
	text-align: center;
	border: medium solid #000000;
	font-size: 16px;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;


}
